<<<<<<< HEAD
@use './variables' as *;

body{
  font-family: $primary-font;
}

a{
  color: white;
  text-decoration: none;
}

ul{
  list-style: none;
  font-weight: bold;
=======
@use './variables' as *;

body{
  font-family: $primary-font;
}

a{
  color: white;
  text-decoration: none;
}

li{
  list-style: none;
  font-weight: bold;
>>>>>>> f9b47561f1d3beb16f947e05d85f31441c0eaadb
}